@model CleanArchitecture.Application.ViewModels.ProductViewModel

<table id="book" class="table table-bordered table-hover">
    <thead>
        <tr class="">
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Product Description </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr style="height: 60px;">
                <td>@product.PName</td>
                <td>@product.Price</td>
                <td>@product.PDescription</td>
            </tr>
        }
    </tbody>
</table>